.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.appHeader {
  height: 60px;
}

.appFooter {
  height: 60px;
  background-color: black;
}
.pageContent {
  display: flex;
  flex: 1;
  /* overflow-y: auto; */
}
.card_image {
  height: 150px !important;
  object-fit: scale-down;
}


